<footer>
  <div class="wrapper">

  <h2>Contact</h2>

  <p>I'd love to hear from you. You can find me at: </p>
  <ul class="list--spaced">
      <li><a href="mailto:joelstrohmeier@gmail.com">joelstrohmeier@gmail.com</a></li>
      <li>
        <a href="https://www.linkedin.com/in/joel-strohmeier/">LinkedIn</a>
      </li>   
      <li><a href="https://bsky.app/profile/joelstrohmeier.bsky.social">Bluesky</a></li>

  </ul>

  <hr>

<p>Made with <span focusable="false" aria-hidden="true">❤</span> <span class="visually-hidden">Love</span> in Bristol, United Kingdom.</p>



  </div>

</footer>