<header class="wrapper">
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" aria-current="true">About</a></li>
            <li><a href="/blog">Blog</a></li>
            
        </ul>
        </nav>
</header>

