<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  
  <title>Blogs — Joel Strohmeier </title> <!-- Grab title from the page data and dump it here -->
  <meta name="description" content="{{ description }} "/>
</head>
<body>

<div class="wrapper"><a href="#main" class="skip-link">Skip to content</a></div>

  {% include 'header_blog.njk' %}
  
  <main class="wrapper" id="main">

  <h1>Blogs</h1>

  <ul class="blogs-list">

    {%- for post in collections.post | reverse -%}
    
      <li>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{post.data.description}} &mdash; {{post.data.date | postDate}}</p>
      </li>
    
    {%- endfor %} 

  </ul>

  </main>

  {% include 'footer.njk' %}


</body>
</html>

