<article itemscope itemtype="https://schema.org/Article">
  <time class="post-date" itemprop="datePublished" datetime="{{ date | isoDate }}">
    Published on {{ date | postDate }}
  </time>
</article>